$alpha-colour: #0C6D13;
$beta-colour: #8064DC;
$released-colour: #953E3E;
$concept-colour: #FF5E00;

$dark-blue-text: #1A407A;
$light-blue-text: #6A80A2;
$light-grey-text: #818181;
$dark-grey-text: #2A2A2A;

$dark-blue-button-hover: #12224d;
$light-blue-button-hover: #278fe3;

$light-grey-border: 1px solid #CBCBCB;

.logout {
  color: #f01b1c;
}

//  Watchlist ==================================================
.watch-wrapper {
  z-index: 100;

  .watchlist-sidebar {
    max-height: 80vh;
    overflow-y: scroll;
  }
  .watchlist-sidebar-item {
    margin-bottom: 15px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.6);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.6);
  }
}

//  POSTS ==================================================

.posts {
  width: 100%;
  min-height: 200px;
  margin-top: 5px;
  padding: 15px 0;

  a {
    text-decoration: none;
    color: inherit !important;
  }

  .post-reg {
    margin: 15px 0;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 15px;
    border-radius: 18px;
    border: 1px solid #CBCBCB;
    transition: background-color 0.2s ease-in-out;

    @media (max-width: 768px) {
      align-items: center;
      width: 100%;
    }

    &:hover {
      background-color: #e1eafc;
    }

    .post-colour {
      width: 8%;
      height: auto;
      border-radius: 0 18px 18px 0;
      background-color: #EBEBEB;
      border-left: 1px solid #CBCBCB;
      text-transform: uppercase;
      display: inline-flex;
      font-size: 1.5rem;
      justify-self: flex-start;
      letter-spacing: 2px;
      align-items: center;
      justify-content: center;

      span {
        display: inline;
        transform: rotateZ(90deg);
        &.alpha { color: $alpha-colour !important; &:before { content: "Alpha"; } }
        &.beta { color: $beta-colour !important; &:before { content: "Beta"; }}
        &.concept { color: $concept-colour !important; &:before { content: "concept"; }}
        &.released { color: $released-colour !important; &:before { content: "released"; }}
      }
    }

    .tags {
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      color: #1A407A;
      margin-top: 2px;

      .tag {
        display: inline;
        margin-right: 5px;
        margin-bottom: 0;
        &:after {
          content: ",";
        }

        &:last-of-type:after {
          content: "";
        }
      }
    }

    .game-cover {
      max-width: 95%;
      width: 300px;
      height: auto;
      max-height: 300px;
      border-radius: 8px;
    }

    .col {
      padding-left: 0;
      padding-right: 30px;
    }

    .min {
      min-height: 200px;
    }

    .post-title {
      font-weight: 600;
      width: 100%;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 35px;
    }

    .author {
      margin: 0;
      color: #9A9A9A !important;
      font-size: 1rem;
    }

    .content {
      margin-top: 5px;
      line-height: 1.2rem;
      font-size: 1rem;
      max-height: 200px;
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      //white-space: nowrap;
    }

    .row {
      border-radius: 16px;
    }

    .row > * {
      margin: 8px 0 0 0;
    }

    .extras {
      width: 100%;
      margin: 8px 0;
      padding: 0 30px 0 15px;
      span {
        &:first-child {
          margin-right: auto;
        }
        margin: 0 5px;
      }

      .far, .fas{
        margin-right: 2px;
      }
    }
  }
}

//  SINGLE POST ==================================================

.post {
  .like-watch-buttons {
    margin-top: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;

    .post-btn {
      background-color: transparent;
      display: inline-block;
      margin-right: 1em;
      border-radius: 4px;
      padding: 0.1em 0.5em;
      font-size: 1.4rem;
      transition: 0.2s background-color ease-in-out;
      text-decoration: none;
      color: inherit;

      &.watch {
        color: deeppink;
        border: 1px solid deeppink;
        &:hover {
          background-color: white;
        }
      }
      &.like {
        color: #1a407a;
        border: 1px solid #1a407a;
        &:hover {
          background-color: white;
        }
      }

      &.disabled {
        cursor: default;
        background-color: darkgray;
        &.sign {
          font-size: 0.8rem;
          padding: 0.7em;
        }
      }
    }
  }

  .game-state {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    &.alpha {color: $alpha-colour !important; &:after {content: "alpha"}}
    &.beta {color: $beta-colour !important; &:after {content: "beta"}}
    &.released {color: $released-colour !important; &:after {content: "released"}}
    &.concept {color: $concept-colour !important; &:after {content: "concept"}}
  }

  .game-body {
    white-space: pre-wrap;
  }

  .artwork {
    width: 100%;
    height: auto;
  }

  .game-title {
    color: $dark-blue-text !important;
    font-size: 3.4rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .game-author {
    color: $light-grey-text !important;
    font-size: 1.4rem;
    font-weight: 300;
  }

  p {
    font-size: 1.15rem;
  }

  .game-desc {
    color: $light-blue-text !important;
    margin-top: 40px;
    margin-bottom: 0;
  }


  .game-extras {
    color: $dark-blue-text !important;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 300;

    .game-tag {
      margin-right: 10px;
      &:after {
        content: ",";
      }

      &:last-child:after {
        content: "";
      }
    }

    .game-date {
      margin-left: auto;
      color: $light-grey-text !important;
    }

  }

  .game-stats {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 1.2rem;

    i {
      margin-right: 5px;
      color: $dark-blue-text !important;
    }

    .number:after {
      content: " ";
    }

    p {
      display: inline-block;
      color: $light-grey-text !important;
      margin-right: 20px;
    }

    .game-likes {
      margin-right: auto;
    }
  }

  .commentannounce {
    margin-top: 40px;
    h3 {
      font-weight: 400;
      color: $dark-grey-text !important;
    }

    .comment-box, .announcement-box {
      background-color: white;
      width: 90%;
      min-height: 100px;
      border: $light-grey-border;
      font-size: 1em;

      .comment-area {
        width: 100%;
        margin: auto;
      }
    }

    .announcement-box {
      border-radius: 10px;
    }

    .comment-box {
      border-radius: 50px;
    }

    .form-profile {
      display: block;
      height: 80px;
      width: auto;
      border-radius: 200px;
    }

    .text-area {
      background-color: transparent;
      overflow: auto;
      border: none;
      border-radius: 0 50px 50px 0;
      font-size: 0.96rem;
      resize: none;
      opacity: 1;
      transition: 0.4s ease-in-out;

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;

        &::placeholder {
          opacity: 0.5;
        }
      }
    }
  }
}

/* SEARCH THINGS */
.search-form {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .sidebar-icon {
      cursor: pointer;
      margin-left: auto;
      transition: all 0.2s ease-in-out;
      display: none;
      width: 20px;
      height: 20px;
      padding: 25px;
      font-size: 1.7rem;
      border-radius: 100%;
      border: 1px solid $dark-blue-text;

      @media (max-width: 1200px) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        color: $light-grey-text;
        border-color: $light-grey-text;
      }
    }
  }

  .tag-check-btn {
    display: inline-block;
    font-size: 0.8rem;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid $dark-blue-text;
    color: white !important;
    font-weight: 600;
    transition: all 0.2s ease-in-out;

    &:first-child {
      background-color: $dark-blue-text;
      &:hover { background-color: $light-blue-button-hover; color: white !important; border-color: white; }
    }

    &:last-child {
      background-color: white;
      color: $dark-blue-text !important;
      &:hover { color: $light-blue-button-hover !important; border-color: $light-blue-button-hover; background-color: #e9e9e9; }
    }
  }

  .collapsable-tags {
    @media (max-width: 1200px ) {
      display: none !important;
    }
  }

  .collapsable {

    #filter-content, #sort-content {
      text-align: center;
      width: 100%;
    }

    @media (max-width: 992px) {
      display: none !important;
    }
  }

  .search-select {
    background-color: transparent;
    border: none;
    color: $dark-blue-text;
    font-weight: 500;
    font-size: 1.2rem;

    &:hover {

    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

  .search-titles {
    font-size: 1rem;
    color: $dark-grey-text;
    opacity: 0.5;
    font-weight: 300;
  }

  .search-col {
    padding-top: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;

    #followed-label { color: $dark-blue-text !important; }
    #alpha-label { color: $alpha-colour !important; }
    #beta-label { color: $beta-colour !important; }
    #concept-label { color: $concept-colour!important; }
    #released-label { color: $released-colour !important; }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .column {
      width: 100%;
    }

    .sort-by-option {

      label {
        color: $dark-blue-text;
        margin-bottom: 8px;
      }

      .sort-by-radio {
        margin-left: auto;
        background-color: #919191;
      }
    }

    .filter-option {
      label {
        margin-bottom: 3px;
        background-color: white;
        padding: 0.2em 0.6em;
        border-radius: 20px;
        border: $light-grey-border;
      }

      .filter-by-checkbox {
        margin-left: auto;
      }
    }
  }

  .check-selections {
    width: 90%;
    padding: 10px 0;
    background-color: white;
    border: $light-grey-border;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    #check-buttons-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

  }

  /* TAGS */
  .tag-column {
    width: 90%;
    border: $light-grey-border;
    background-color: #EBEBEB;
    font-weight: 500;
    padding: 0.3em;
    color: $dark-blue-text !important;

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
       background-color: $dark-blue-text;
    }

    // remove actual tick
    .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
      background-image: none;
    }

    .custom-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 0.3rem !important;
      padding-right: 1.5rem !important;
    }

    .custom-control-label {
      cursor: pointer;

      &:after, &:before {
        left: 10em !important;
      }

      // Actual Tick
      &:after {}

      // Box
      &:before {
        background-color: #ebebeb;
        border: 1.5px solid $dark-blue-text;
        border-radius: 1px;
      }
    }
  }
}

/* COLLAPSE SIDEBAR */

.collapse-sidebar {
  min-width: 350px;
  max-width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $light-blue-text;
  color: white !important;
  padding: 10px 20px;
  display: none;
  animation-name: slideInLeft;
  animation-duration: 0.35s;
  overflow-y: scroll;

  &::-webkit-scrollbar { width: 5px; height: 40%; }
  &::-webkit-scrollbar-track { background: transparent; }
  &::-webkit-scrollbar-thumb { background: white !important; border-radius: 100px; }
  &::-webkit-scrollbar-thumb:hover { background: rgba(85, 85, 85, 0.6); }

  &.active {
    display: block;
  }

  #dismiss-sidebar {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.16);
      color: white !important;
    }
  }

  .search-titles {
    color: white !important;
  }


  // Changing of styles when they are on the sidebar
  #check-buttons-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }

  #tag-content {
    .tag-column {
      background-color: transparent;
      color: white !important;
      font-weight: 400;
      border: none;
      width: 100%;
      padding: 0;

      .custom-control-label {
        margin: auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:after, &:before {
          left: 102% !important;
        }
      }
    }

    .check-selections {
      display: none;
    }
  }

  #filters-sidebar-section, #sortby-sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    #filter-content, #sort-content {
      width: 100%;

      label {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;

        input {
          margin-left: auto;
        }
      }
    }
  }

  h3 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    display: block;
    text-align: center;
  }

  #tag-content {
    padding: 0 !important;
  }
}


/* OVERLAY */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index:  998;
  opacity: 0;
  //transition: all 0.5s ease-in-out;

  &.active {
    display: block;
    opacity: 1;
  }
}


/* ANIMATIONS */

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0 ,0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0 ,0);
    visibility: hidden;
  }
}

.slideOutRightAnim {
  animation-name: slideOutRight;
  animation-duration: 0.35s;
}

.profile-menu {
  width: 100%;
  min-height: 100px;
  background-color: #ebebeb;
  border-radius: 0 0 10px 10px;
  padding: 0.8em 0;

  .menu-item {
    background-color: white;
    display: block;
    padding: 0.4em 0.8em;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 0 0 15px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: inherit !important;

    &.active {
      background-color: $dark-blue-text;
      color: white !important;
    }

    &:hover {
      background-color: #dbdbf2;
    }
  }
}
.profile-header {
  width: 100%;
  height: 75px;
  padding: 0.8em;
  background-color: white !important;
  border-radius: 10px 10px 0 0;

  h1 {
    color: $dark-blue-text !important;
  }
}


.menu-display {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.edit-prof {
  padding-left: 0.2em;
  font-size: 2rem;
  border: 1px solid rgba(211, 211, 211, 1);
  border-radius: 5px;
}

.profile-menu {
  font-size: 2rem;
}

.profile-name {
  font-weight: 600;
  letter-spacing: 1px;
}

.aka {
  color: lightgray;
  margin: 0;
}

.user-label {
  color: $light-grey-text !important;
  font-weight: 300;
  margin-top: 30px;
}

.profile-pic {
  height: auto;
  max-height: 350px;
  width: 100%;
  border-radius: 6px;
  margin: 20px 0;

  &.edit {
    width: 250px;
  }
}

.notification-link {
  color: inherit !important;
  text-decoration: none !important;
}

.follow-message {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    width: 100%;
    margin: 0 auto;
  }
}

.followers {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    padding: 0.4em;
    border-radius: 8px 8px 0 0;
    background-color: $dark-blue-text;
    color: white;

    * {
      margin: 0;
    }
  }

  .body {
    min-height: 300px;
    background-color: #e3e3e3;
    border-radius: 0 0 8px 8px;

    a {
      text-decoration: none;
    }

    .follower {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.6em;
      background-color: white;
      transition: 0.2s all ease-in-out;
      text-decoration: none;
      margin-top: 0.8em;

      .name {
        color: $dark-blue-text;
        display: inline-block;
      }

      .pic {
        margin-left: auto;
        height: 60px;
        width: auto;
      }

      &:hover {
        background-color: #dbdbf2;
      }
    }
  }
}

.comment {
  //max-height: 200px;
  margin: 0.8em 0;
  padding: 0.5em 1em;

  .row {
    &>* {
      padding: 0;
    }
  }

  .comment-user {
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }

  p {
    font-size: 0.95rem;
  }

  .image {
    display: flex;
    flex-direction: row;
    align-items: center;

    .comment-pic {
      border-radius: 15px;
      height: 80px;
      width: auto;
      margin: auto;
    }
  }

  .extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;

    * {
      margin: 0;
    }

    .likes {
      .fa-thumbs-up {
        color: $dark-blue-text;
        margin-right: 3px;
      }

      color: $light-blue-text;
    }

    .time-info {
      color: #919191;
    }

    .reply {
      font-size: 0.8rem;
      padding: 0.3em;
      min-width: 60px;
    }
  }
}

.profile-posts {


  .prof-post {
    //display: flex;
    //flex-direction: column;
    margin-top: 0.3em;
    padding: 0.5em;
    transition: 0.2s color ease-in-out;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: gray;
    }

    .extras {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon-count {
        margin-left: 0.4em;
      }
    }

  }
}

.message-button.active {
  background-color: white;
  color: $light-blue-button-hover !important;
  border: 1px solid $light-blue-button-hover;

  &:after {
    content: ">";
    width: 20px;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 600;
    color: $dark-blue-text;
    border-radius: 200px;
    height: 50px;
    //background-color: $light-grey-text;
    position: relative;
    left: 65px;
  }
}

#message-box {
  padding: 1.2rem;
  position: absolute;
  top: 225px;
  left: 240px;
  min-width: 340px;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .title {
    padding-bottom: 0.3em;
    font-size: 1.1rem;
    border-bottom: 1px dashed $dark-blue-text;
  }

  .msg-box {
    width: 100%;
    margin-top: 1em;
    min-height: 60px;
    max-height: 140px;
    font-size: 0.8rem;
  }
}

.recent-post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em 2em;
  border-radius: 12px;
  margin-bottom: 2em;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    text-decoration: none;
    color: inherit;
    background-color: rgba(3, 106, 255, 0.1);
  }

  * {
    text-decoration: none;
    color: inherit;
  }

  p {
    color: $light-grey-text;
  }

  .time {
    color: $light-blue-text;
    font-weight: 300;
  }
}