$alpha-colour: #0C6D13;
$beta-colour: #8064DC;
$released-colour: #953E3E;
$concept-colour: #FF5E00;

$dark-blue-text: #1A407A;
$light-blue-text: #6A80A2;
$light-grey-text: #818181;
$dark-grey-text: #2A2A2A;

$light-grey-border: 1px solid #CBCBCB;

//  Watchlist ==================================================
.watch-wrapper {
  z-index: 100;

  .watchlist-sidebar {
    max-height: 80vh;
    overflow-y: scroll;
  }
  .watchlist-sidebar-item {
    margin-bottom: 15px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.6);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.6);
  }
}

//  POSTS ==================================================

.posts {
  width: 100%;
  min-height: 200px;
  margin-top: 5px;
  padding: 15px 0;

  a {
    text-decoration: none;
    color: inherit !important;
  }

  .post-reg {
    margin: 15px 0;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 15px;
    border-radius: 18px;
    border: 1px solid #CBCBCB;
    transition: background-color 0.2s;

    @media (max-width: 768px) {
      align-items: center;
      width: 100%;
    }

    &:hover {
      background-color: #e1eafc;
    }

    .post-colour {
      width: 8%;
      height: auto;
      border-radius: 0 18px 18px 0;
      background-color: #EBEBEB;
      border-left: 1px solid #CBCBCB;
      text-transform: uppercase;
      display: inline-flex;
      font-size: 1.5rem;
      justify-self: flex-start;
      letter-spacing: 2px;
      align-items: center;
      justify-content: center;

      span {
        display: inline;
        transform: rotateZ(90deg);
        &.alpha { color: $alpha-colour !important; &:before { content: "Alpha"; } }
        &.beta { color: $beta-colour !important; &:before { content: "Beta"; }}
        &.concept { color: $concept-colour !important; &:before { content: "concept"; }}
        &.released { color: $released-colour !important; &:before { content: "released"; }}
      }
    }

    .tags {
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      color: #1A407A;
      margin-top: 2px;

      .tag {
        display: inline;
        margin-right: 5px;
        margin-bottom: 0;
        &:after {
          content: ",";
        }

        &:last-of-type:after {
          content: "";
        }
      }
    }

    .game-cover {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    .col {
      padding-left: 0;
      padding-right: 30px;
    }

    .post-title {
      font-weight: 600;
      width: 100%;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 35px;
    }

    .author {
      margin: 0;
      color: #9A9A9A !important;
      font-size: 1rem;
    }

    .content {
      margin-top: 5px;
      line-height: 1.2rem;
      font-size: 1rem;
      max-height: 200px;
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      //white-space: nowrap;
    }

    .row {
      border-radius: 16px;
    }

    .row > * {
      margin: 8px 0 0 0;
    }

    .extras {
      width: 100%;
      margin: 8px 0;
      padding: 0 30px 0 15px;
      span {
        &:first-child {
          margin-right: auto;
        }
        margin: 0 5px;
      }

      .far, .fas{
        margin-right: 2px;
      }
    }
  }
}

//  SINGLE POST ==================================================

.post {
  .game-state {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    &.alpha {color: $alpha-colour !important; &:after {content: "alpha"}}
    &.beta {color: $beta-colour !important; &:after {content: "beta"}}
    &.released {color: $released-colour !important; &:after {content: "released"}}
    &.concept {color: $concept-colour !important; &:after {content: "concept"}}
  }

  .artwork {
    width: 100%;
    height: auto;
  }

  .game-title {
    color: $dark-blue-text !important;
    font-size: 3.4rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .game-author {
    color: $light-grey-text !important;
    font-size: 1.4rem;
    font-weight: 300;
  }

  p {
    font-size: 1.15rem;
  }

  .game-desc {
    color: $light-blue-text !important;
    margin: 40px 0;
  }

  .game-extras {
    color: $dark-blue-text !important;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 300;

    .game-tag {
      margin-right: 10px;
      &:after {
        content: ",";
      }

      &:last-child:after {
        content: "";
      }
    }

    .game-date {
      margin-left: auto;
      color: $light-grey-text !important;
    }

  }

  .game-stats {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 1.2rem;

    i {
      margin-right: 5px;
      color: $dark-blue-text !important;
    }

    .number:after {
      content: " ";
    }

    p {
      display: inline-block;
      color: $light-grey-text !important;
      margin-right: 20px;
    }

    .game-likes {
      margin-right: auto;
    }
  }

  .commentannounce {
    margin-top: 40px;
    h3 {
      font-weight: 400;
      color: $dark-grey-text !important;
    }

    .comment-box, .announcement-box {
      background-color: white;
      width: 90%;
      min-height: 100px;
      border: $light-grey-border;
    }

    .announcement-box {
      border-radius: 10px;
    }

    .comment-box {
      border-radius: 50px;
    }

    .form-profile {
      display: block;
      height: 80px;
      width: auto;
      border-radius: 200px;
    }

    .text-area {
      background-color: transparent;
      overflow: auto;
      border: none;
      border-radius: 0 50px 50px 0;
      font-size: 1.2rem;
      resize: none;
      opacity: 1;
      transition: 0.4s;

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;

        &::placeholder {
          opacity: 0.5;
        }
      }

      .comment-area {
        width: 100%;
        margin: auto;
      }
    }
  }
}

/* SEARCH THINGS */
.search-form {
  .search-select {
    background-color: transparent;
    border: none;
    color: $dark-blue-text;
    font-weight: 500;
    font-size: 1.4rem;

    &:hover {

    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

  .search-titles {
    font-size: 1rem;
    color: $dark-grey-text;
    opacity: 0.5;
    font-weight: 300;
  }

  .search-col {
    padding-top: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;

    #followed-label { color: $dark-blue-text !important; }
    #alpha-label { color: $alpha-colour !important; }
    #beta-label { color: $beta-colour !important; }
    #concept-label { color: $concept-colour!important; }
    #released-label { color: $released-colour !important; }

    .column {
      width: 100%;
    }

    .sort-by-option {

      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $dark-blue-text;
        margin-bottom: 8px;
      }

      .sort-by-radio {
        margin-left: auto;
        background-color: #919191;
      }
    }

    .filter-option {
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3px;
        background-color: white;
        padding: 0.2em 0.6em;
        border-radius: 20px;
        border: $light-grey-border;
      }

      .filter-by-checkbox {
        margin-left: auto;
      }
    }
  }
}